element{
    --primary-color: #14311E;
    --secondary-color: #25633A;
    --primary-bg-color: #95BB72;
    --secondary-bg-color: #B98389;
    --alt-color: #F5F5F5;
}

*{
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: #F5F5F5;
}

/* NAVBAR */

.navbar{
    background-color: transparent !important;
    padding: 10px;
    transition: background-color 0.5s ease-in-out;
}

.navbar:hover .navbar-nav li.nav-item a.nav-link {
    color: #F5F5F5;
}

.navbar-logo {
    height: 5.0rem;
}

/* HOME NAVBAR */

.navbar-home:hover{
    background-color:  #14311E !important;
}

/* ABOUT NAVBAR */

.navbar-about:hover{
    background-color:  #B98389 !important;
}

/* FOOTER */

footer{
    color: #B98389;
}

/* WELCOME */

.welcome-section{
    height: 90vh;
	width: 100%;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 1.0), rgba(20, 49, 30, 0.7)),
        url(Assets/LAS_Shop.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-body{
    padding-top: 10%;
}

.welcome-card{
    background-color: #95BB728C;
    padding: 4%;
}

/* ABOUT */

.about-title-section{
    height: 90vh;
	width: 100%;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 1.0), rgba(185, 131, 137, 0.4), rgba(185, 131, 137, 0.5), rgba(185, 131, 137, 0.6), rgba(185, 131, 137, 0.7)),
        url(Assets/LAS_Owners.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-body{
    padding-top: 10%;
}

.about-card{
    background-color: #DDAAB08C;
    padding: 4%;
}

/* CHOICES */

.choice-section{
    background-color: #F5F5F5;
}

.choice-card{
    height: 100%;
    margin: 3%;
    background-color: #95BB72;
    transition: all 0.3s ease-in-out;
}

.choice-card:hover {
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.deuter:hover {
    background-image: linear-gradient(rgba(149, 187, 114, 0.7), rgba(149, 187, 114, 0.7)),
        url('Assets/LAS_Deuterocohnia_Brevifolia.jpeg');
}

.ferraria:hover{
    background-image: linear-gradient(rgba(149, 187, 114, 0.7), rgba(149, 187, 114, 0.7)),
        url('Assets/LAS_Ferraria_Crispa.jpeg');
}

.geom:hover{
    background-image: linear-gradient(rgba(149, 187, 114, 0.7), rgba(149, 187, 114, 0.7)),
        url('Assets/LAS_Myrtillocactus_Geometrizans.jpeg');
}

/* MISC */

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -.125em;
    fill: #B98389;
}

a{
    text-decoration: none; /* removes underline */
}

.center-div {
    text-align: center;
}

.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
