element{
    --primary-color: #14311E;
    --secondary-color: #25633A;
    --primary-bg-color: #95BB72;
    --secondary-bg-color: #B98389;
    --alt-color: #F5F5F5;
}

*{
    font-family: 'Rubik', sans-serif;
    color: black;
}

body{
    background-color: #F5F5F5;
}

/* NAVBAR */

.navbar-transparent {
    background-color: transparent !important;
    padding: 10px;
    transition: background-color 0.5s ease-in-out;
}

.navbar-nav li a {
    font-family: "Arial", sans-serif;
}

.navbar-transparent:hover{
    background-color:  #25633AE6 !important;
    
}

.navbar-transparent:hover .navbar-nav li.nav-item a.nav-link {
    color: white;
}

.navbar-logo {
    height: 5.0rem; /* adjust the height to your liking */
    /* margin-right: 10px; add some space to the right of the logo */
}

/* FOOTER */

footer{
    color: #B98389;
}

/* WELCOME */

.home-header{
    min-height: 100vh;
	width: 100%;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0.85), rgba(149, 187, 114, 0.65)),
        url(Assets/LAS_Shop.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CHOICES */

.choice-section{
    background-color: #F5F5F5;
}

.choice-card{
    background-color: #95BB72;
}

/* MISC */

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: #B98389;
}

a{
    text-decoration: none; /* removes underline */
}

.center-div {
    text-align: center;
}

  

